<!doctype html>
<html>

<!-- Hints:
     shift alt F - format kodu
     ctrl shift K - delete line
     ctrl alt J or L - jump on bookmarks
     ctrl alt K - add bookmarks
-->
<!--
 -->

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="quiz_style.css">
    <link rel="stylesheet" type="text/css" href="magic-check.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="quiz-app.js"></script>
</head>

<body>
<div ng-app="myApp" ng-controller="TaskController" data-ng-init="onLoad()" ng-init="
                                                countries = [ {locale: 'en-US', name: 'United states'},
                                                              {locale: 'en-FR', name: 'France'} ]">
    <h1>Quiz Application</h1>

    <div class="basic_background">

        <!-- CATEGORY LIST -->
        <div class="titles">
            <h2>Category List</h2>
        </div>

        <ul style="list-style-type: disc;" ng-repeat="c in categoryList">
            <li><a href="#" ng-click="selectCategory(c)">{{c.name}} ({{totalCategoryQuestions(c)}})</a></li>
        </ul>
    </div>

    <!--    <form name="testForm">-->
    <div class="basic_background">
        <!-- QUESTION LIST -->

        <div class="titles">
            <h2>Question List ({{selectCategoryDisplayed}}) </h2>
        </div>

        <ol id="ol_question_list" ng-repeat="q in questionList | filter : categoryFilter">
            <li style="clear: right;display: inline-block" class="question">
                <strong class="question">
                    {{q.number}}. {{q.question}}

                    <div ng-if="q.isTypeImg === true">
                        <button ng-click="setImage(q.imgUrl)" style="float: right;" type="button"
                                data-toggle="modal" data-target="#modalImage">
                            Show Image
                        </button>
                        <div class="modal" id="modalImage">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Image</h4>
                                        <button type="button" class="close"
                                                data-dismiss="modal">&times;
                                        </button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <img src="img/{{modalSettings.imageUrl}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </strong>
                <br>
                <div id="chb_answer_list">
                    <blockquote>
                        <p ng-repeat="ans in q.answers" class="answer">
                            <input class="magic-radio" type="radio" ng-model="q.answerByUser" value="{{ans}}"
                                   name="radio_{{q.number}}" id="radio_{{q.number}}_{{ans}}"/>
                            <label for="radio_{{q.number}}_{{ans}}">{{ans}}</label>
                        </p>
                    </blockquote>
                </div>
            </li>
        </ol>

        <!-- BUTTONS -->
        <div class="btn_evaluate">
            <button ng-click="ok()">Evaluate</button>
            <button ng-click="clear()">Reset</button>
            <br><br>

            <button ng-click="saveQuestions()">Save Questions</button>
            <button onclick="document.getElementById('files').click()">Load Questions</button>
            <input id="files" type="file" ng-file-select="onFileSelect($files)" style="display: none">
            <!-- <button ng-click="addQuestionDlg()">Add Question</button> -->
            <button type="button" data-toggle="modal" data-target="#myModal">
                Add Question
            </button>
        </div>

        <div class="container">
            <!-- MODAL DLG ADD QUESTION -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Question</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form>
                                <label for="txQ">Your Question:</label>
                                <!-- <br> -->
                                <input type="text" ng-model="userQuestion">
                                <br>
                                <label for="txQ">Your Category:</label>
                                <!-- <br> -->
                                <select name="singleSelect" id="singleSelect" ng-model='categoryIdModel'>
                                    <option value="">-----Please select-----</option>
                                    <option ng-repeat="c in categoryList" value='{{c.id}}'>{{c.name}}
                                    </option>
                                </select>
                                <br>
                                <label for="txCA">Correct Answer:</label>
                                <!-- <br> -->
                                <input type="text" ng-model="userCorrectAnswer">
                                <br>
                                <label for="txA">Available Answers (separated with comma):</label>
                                <br>
                                <textarea id="textareaEdit" ng-model="userAnswers"></textarea>
                                <br>
                                <!-- <button ng-click="addQuestion()">Add Question</button> -->
                                <!-- <br> -->
                                <label for="err">{{errorText}}</label>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" ng-click="addQuestion()" class="btn btn-success">Add
                                Question
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <br> -->

    <!-- RESULTS -->
    <div class="basic_background" ng-hide="!resultsVisibled">
        <h2 class="titles" style="text-align: left">
            Results</h2>
        <div style="text-align: center;display: block">

            <strong>
                You have achieved the score <h2>{{resultPercent | number : 2}} %</h2>
            </strong>

        </div>
        <br>
        <table class="resultsAchieved" ng-if="resultPercent !== 100">
            <thead>
            <tr>
                <th>num.</th>
                <th>question</th>
                <th>correct answer</th>
                <th>your answer</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="q in answerListByUser">
                <td>{{q.number}}</td>
                <td>{{q.question}}</td>
                <td>{{q.answerCorrect}}</td>
                <td style="text-decoration: line-through;color: red">{{q.answerByUser}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>
</body>

</html>